body {
  font-family: "Lato", sans-serif;
}

header {
  margin-top: 2.5em;
}

nav {
  margin: auto;
  max-width: 75%;
}

ul {
  border-radius: 5px;
}

li {
  cursor: pointer;
}

.logo {
  display: block;
  margin: auto;
  height: 100px;
}

#no-results {
  padding-top: 1.8em;
  text-align: center;
  max-width: 80%;
  margin: auto;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.616);
  display: none;
}

input ::placeholder {
  font-family: "Lato", sans-serif;
}

#search {
  width: 100%;
  font-family: "Lato", sans-serif;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 15px;
  outline: none;
  margin-top: 0.5em;
  font-weight: 500;
}
.fa-search {
  position: absolute;
  right: 14%;
  top: 10.4em;
}
.tagList {
  display: flex;
  flex-direction: row;
  padding-left: 0%;
  justify-content: flex-start;
}
.tag {
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin-top: 1%;
}
.ingr {
  background-color: #3282f7;
}
.appli {
  background-color: #68d9a4;
}
.ustens {
  background-color: #ed6454;
}
.closeTag {
  padding: 5px;
}

.inactive {
  display: none;
}
.container {
  display: inline-flex;
  position: absolute;
  width: 100%;
  flex-wrap: nowrap;
  height: auto;
  padding: unset;
}
.boxList {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  border-radius: 5px;
  font-weight: 600;
  /*font-size: 0.75em;
  width: 20%;*/
  padding: 1%;
  margin-top: 1.5em;
  margin-right: 1em;
  cursor: initial;
}

.hideInput {
  max-width: 83%;
  color: white;
  border-radius: inherit;
  border: none;
  outline: none;
  background-color: unset;
  z-index: unset;
  max-height: 110px;
}
.list {
  z-index: 2;
  padding-top: 2%;
  overflow: auto;
  font-weight: 500;
  max-height: 325px;
}
#box-ingredients {
  max-width: 60%;
  width: auto;
  border: none;
  background-color: #3282f7;
  color: white;
  /*font-size: 1.6em;*/
  font-weight: 500;
}
#search-ingredients::placeholder {
  color: rgba(255, 255, 255, 0.733);
  /*border: #3282f7 solid 1px;*/
}
#box-appareils {
  max-width: 30%;
  width: auto;
  border: none;
  background-color: #68d9a4;
  color: white;
  /*font-size: 1.6em;*/
  font-weight: 500;
}

#search-appareils::placeholder {
  color: rgba(255, 255, 255, 0.733);
  /*border: #68d9a4 solid 1px;*/
}

#box-ustensiles {
  max-width: 43%;
  width: auto;
  border: none;
  background-color: #ed6454;
  color: white;
  font-weight: 500;
}

#search-ustensils::placeholder {
  color: rgba(255, 255, 255, 0.733);
  /*border: #ed6454 solid 1px;*/
}
.fa-chevron-down {
  margin-left: auto;
  margin-right: 0.5em;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0.5em;
  cursor: pointer;
  z-index: 1;
}
.rotate {
  transition: all 0.5s linear;
}
.rotate.down {
  transform: rotate(180deg);
}

.search-list-ingredients {
  column-count: 3;
  padding: unset;
  /* column-width: auto; */
  list-style: none;
  /* alignment-baseline: middle; */
  list-style-position: inside;
}

.search-list-appareils {
  column-count: 3;
  padding: unset;
  /* column-width: auto; */
  list-style: none;
  /* alignment-baseline: middle; */
  list-style-position: inside;
}

.search-list-ustensils {
  column-count: 3;
  padding: unset;
  /* column-width: auto; */
  list-style: none;
  /* alignment-baseline: middle; */
  list-style-position: inside;
}

/*--------*/

main {
  margin: auto;
  max-width: 75%;
}

#recipes {
  margin-top: 7%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: -99999;
  margin-right: 1em;
}

.card {
  min-width: 270px;
  width: 360px;
  max-width: 360px;
  height: 364px;
  background: #c7bebe;
  border-radius: 3px;
  font-family: "Lato";
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}
